---
import { Icon } from 'astro-icon'
---

<div class="flex flex-col lg:flex-row container mx-auto mt-16 justify-center">
  <section class="flex flex-col justify-center items-center lg:w-1/2 py-16 lg:p-0 gap-8 lg:justify-start">
    <h2 class="font-bold font-serif text-4xl lg:hidden">Áreas de atuação</h2>
    <img src="law-statue.png" class="w-full" alt="Estatua da lei">
  </section>
  <section class="flex flex-col justify-center items-center">
    <h2 class="hidden text-center font-extrabold text-gray-900 font-serif my-4 text-4xl lg:block">Áreas de Atuação</h2>
    <div class="flex rounded-md overflow-hidden w-full h-16 max-w-xl lg:w-11/12 lg:h-14 my-2">
      <button class="w-1/2 bg-gray-500 text-white p-0">Direito Criminal</button>
      <button class="w-1/2 bg-gray-50 text-gray-500 p-0">Direito de Família</button>
    </div>
    <div>
      <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="bg-white">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
          <div class="max-w-3xl mx-auto divide-y-2 divide-gray-200 border-t border-solid border-gray-500">
            <dl class=" space-y-6 divide-y divide-gray-200">
              <details class="pt-6 text-lg text-left w-full flex justify-between items-start text-gray-400">
                <!-- Expand/collapse question button -->
                <summary class="group lg:min-w-[600px] font-medium text-gray-900 h-7 flex items-center justify-between">
                  Delegacia de
                  Polícia - M. Público <svg class="group-open:open:rotate-180 rotate-0 h-6 w-6 transform"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                  </svg>
                </summary>
                <!--
                  Expand/collapse icon, toggle classes based on question open state.

                  Heroicon name: outline/chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">
                    Acompanhamento de flagrantes e mandados de busca e apreensão;
                  </p>
                </dd>
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">

                    Acompanhamentos em oitivas;
                  </p>
                </dd>
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">

                    Defesa/investigação preliminar;
                  </p>
                </dd>
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">

                    Oferecimento de Notitia Criminis;
                  </p>
                </dd>
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">

                    Pedido de Instauração de Inquérito Policial;
                  </p>
                </dd>
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">

                    Registro de Ocorrência Policial;
                  </p>
                </dd>
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">

                    Medidas Protetivas de Urgência – Lei Maria da Penha;
                  </p>
                </dd>
              </details>
              <details class="pt-6 text-lg text-left w-full flex justify-between items-start text-gray-400">
                <!-- Expand/collapse question button -->
                <summary class="group lg:min-w-[600px] font-medium text-gray-900 h-7 flex items-center justify-between">
                  Processo Penal <svg class="group-open:open:rotate-180 rotate-0 h-6 w-6 transform"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                  </svg>
                </summary>
                <!--
                  Expand/collapse icon, toggle classes based on question open state.

                  Heroicon name: outline/chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">
                    Audiência de instrução e julgamento;
                  </p>
                </dd>
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">

                    Resposta à Acusação;
                  </p>
                </dd>
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">

                    Defesas Processuais;
                  </p>
                </dd>
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">

                    Impetração de Mandado de Segurança e Habeas Corpus;
                  </p>
                </dd>
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">

                    Pedido de revogação de prisão preventiva;
                  </p>
                </dd>
              </details>
              <details class="pt-6 text-lg text-left w-full flex justify-between items-start text-gray-400">
                <!-- Expand/collapse question button -->
                <summary class="group lg:min-w-[600px] font-medium text-gray-900 h-7 flex items-center justify-between">
                  Fase Recursal <svg class="group-open:open:rotate-180 rotate-0 h-6 w-6 transform"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                  </svg>
                </summary>
                <!--
                  Expand/collapse icon, toggle classes based on question open state.

                  Heroicon name: outline/chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">
                    Agravos;
                  </p>
                </dd>
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">

                    Recurso em Sentido Estrito;
                  </p>
                </dd>
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">

                    Apelação;
                  </p>
                </dd>
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">

                    Recurso Especial e Extraordinário;
                  </p>
                </dd>
                <dd class="mt-2 pr-12 flex gap-2 items-center" id="faq-0">
                  <Icon name="check-shild" class="w-4 h-4" />
                  <p class="text-base text-gray-500 w-11/12">

                    Sustentação Oral;
                  </p>
                </dd>
              </details>
              <!-- More questions... -->
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>