<div id="costumers" class="bg-gray-50 w-ful">
  <div class=" text-gray-800 py-16 flex flex-col justify-center items-center xl:container xl:m-auto">
    <h2 class="text-center text-3xl font-extrabold text-gray-900 my-8 font-serif sm:text-4xl">O que dizem meus clientes
    </h2>
    <div class="flex lg:justify-center overflow-x-scroll snap-mandatory snap-x lg:snap-none lg:overflow-auto w-full">
      <div
        class="flex flex-col justify-center items-center text-center bg-white mx-4 rounded-md p-4 shadow-md min-w-[254px] lg:max-w-[281px] w-full h-72">
        <img src="pedro.png" alt="" />
        <p>
          “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec orci
          lacus, rutrum in turpis non, interdum tincidunt lacus.”
        </p>
        <span class="font-bold text-base">Pedro Henrique</span>
      </div>
      <div
        class="flex flex-col justify-center items-center text-center bg-white mx-4 rounded-md p-4 shadow-md min-w-[254px] lg:max-w-[281px] w-full h-72">
        <img src="lucas.png" alt="" />
        <p>
          “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec orci
          lacus, rutrum in turpis non, interdum tincidunt lacus.”
        </p>
        <span class="font-bold text-base">Lucas Ribeiro</span>
      </div>
      <div
        class="flex flex-col justify-center items-center text-center bg-white mx-4 rounded-md p-4 shadow-md min-w-[254px] lg:max-w-[281px] w-full h-72">
        <img src="ana.png" alt="" />
        <p>
          “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec orci
          lacus, rutrum in turpis non, interdum tincidunt lacus.”
        </p>
        <span class="font-bold text-base">Ana Longhini</span>
      </div>
      <div
        class="flex flex-col justify-center items-center text-center bg-white mx-4 rounded-md p-4 shadow-md min-w-[254px] lg:max-w-[281px] w-full h-72">
        <img src="andre.png" alt="" />
        <p>
          “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec orci
          lacus, rutrum in turpis non, interdum tincidunt lacus.”
        </p>
        <span class="font-bold text-base">André Van Dal</span>
      </div>
    </div>
  </div>
</div>