---
import { Icon } from "astro-icon";
---

<footer class="bg-gray-500">
  <div
    class="relative flex flex-col justify-end items-center text-gray-100 py-6 text-center lg:container lg:h-28 lg:m-auto"
  >
    <div class="lg:mt-4">
      <ul class="flex justify-around list-none p-0 lg:justify-center lg:gap-6">
        <li>
          <a href="">
            <Icon name="facebook" />
          </a>
        </li>
        <li>
          <a href="">
            <Icon name="instagram" />
          </a>
        </li>
        <li>
          <a href="">
            <Icon name="twitter" />
          </a>
        </li>
      </ul>
      <span class="text-lg">
        © 2022 Osmar Júnior Advogado.
        <span class="block lg:inline">Todos os direitos reservados.</span>
      </span>
    </div>
    <div
      class="bg-gray-500 w-10/12 mt-4 h-full flex justify-around gap-32 lg:gap-0 items-center py-6 border-t lg:border-0 lg:p-0"
    >
      <a href="/" class="lg:absolute lg:left-4 lg:top-8"
        ><Icon name="logo-colorful" alt="Osmar Júnior Advogado" class="w-28" />
      </a>
      <a href="https://lenyeg.com.br" class="lg:absolute lg:right-4 lg:top-8"
        ><Icon name="lenyeg" alt="Osmar Júnior Advogado" class="w-12" />
      </a>
    </div>
  </div>
</footer>
