---
import { Icon } from "astro-icon";
---

<footer class="bg-gray-500">
  <div
    class="container relative flex flex-col items-center justify-between py-6 m-auto text-center text-gray-100 lg:h-28"
  >
    <div>
      <ul class="flex justify-around p-0 list-none lg:justify-center lg:gap-6">
        <li>
          <a href="https://www.facebook.com/advosmarjr/" target="_blank">
            <span class="sr-only">facebook</span>
            <Icon name="facebook" class="w-6 h-6" />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/advosmarjr/" target="_blank">
            <span class="sr-only">instagram</span>
            <Icon name="instagram" class="w-6 h-6" />
          </a>
        </li>
      </ul>
      <span class="text-lg">
        © 2022 Osmar Júnior Advogado.
        <span class="block lg:inline">Todos os direitos reservados.</span>
      </span>
    </div>
    <div
      class="flex items-center justify-around w-10/12 h-full gap-32 py-6 mt-4 bg-gray-500 border-t lg:gap-0 lg:border-0 lg:p-0"
    >
      <a href="/" class="lg:absolute lg:left-0 lg:top-8">
        <img
          class="w-auto h-12"
          src="/images/logo-horizontal.svg"
          alt="Osmar Júnior - Advogado"
        />
      </a>
      <a href="https://lenyeg.com.br" class="lg:absolute lg:right-0 lg:top-8">
        <span class="sr-only">lenyeg</span><Icon
          name="lenyeg"
          alt="Osmar Júnior Advogado"
          class="w-auto h-12"
        />
      </a>
    </div>
  </div>
</footer>
