---
import { Icon } from "astro-icon";
import ToggleMenu from "./vue/ToggleMenu.vue";
---

<div class="relative bg-gray-500">
  <div class="relative pt-6 pb-24 md:pb-16">
    <ToggleMenu client:only="vue" />
    <main
      class="mx-auto max-w-7xl px-4 mt-24 flex flex-col lg:flex-row md:mt-16"
    >
      <div
        class="text-center lg:text-left flex flex-col justify-center items-center gap-4 lg:items-start lg:gap-1"
      >
        <h1
          class="tracking-tight font-extrabold text-white text-5xl md:text-6xl"
          style="font-family: 'Playfair Display', serif;"
        >
          <span class="block lg:inline">Osmar Júnior</span>
          <span class="block lg:inline"> Advogado</span>
        </h1>
        <span
          class="mt-3 max-w-md mx-auto text-gray-100 font-medium text-lg md:mt-5 md:text-xl md:max-w-3xl lg:text-base lg:mx-0"
        >
          OAB/PR 103.959
        </span>
        <p
          class="mt-3 max-w-md mx-auto text-gray-100 text-lg md:mt-5 md:text-xl md:max-w-3xl lg:text-base lg:w-2/3 lg:mx-0"
        >
          Formado na UNICESUMAR em 2019, pós-graduado em Docência no Ensino
          Superior pela FCV e pós-graduado em Prática Penal Avançada pela
          Damásio.
        </p>
        <div
          class="mt-5 max-w-md mx-auto flex flex-col justify-center md:mt-8 lg:mx-0"
        >
          <div>
            <a
              href="https://wa.me/5544991245630?text=ol%C3%A1,%20vim%20pelo%20seu%20site%20e%20gostaria%20de%20ser%20atendido"
              target="_blank"
              class="group m-auto flex items-center justify-center gap-2 p-1 pl-4 border border-transparent text-base font-medium rounded-full shadow duration-300 text-gray-500 bg-white hover:bg-primary-500 md:w-full"
            >
              Contate-me agora!
              <Icon
                name="whatsapp-rounded"
                class="h-8 w-8 text-gray-50 duration-300 group-hover:text-primary-600"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="flex justify-center items-center">
        <img src="osmar.png" class="my-10" alt="Osmar Júnior" />
      </div>
    </main>
  </div>
</div>
