---
import { Icon } from "astro-icon";
import ToggleMenu from "./vue/ToggleMenu.vue";
---

<div class="bg-gray-500">
  <div class="container pt-6 pb-24 mx-auto md:pb-16">
    <ToggleMenu client:only="vue" />
    <section
      class="flex flex-col justify-between px-4 mt-24 lg:flex-row lg:px-0 lg:mt-16"
    >
      <div
        class="flex flex-col items-center justify-center gap-4 text-center lg:text-left lg:items-start lg:gap-1"
      >
        <h1
          class="text-5xl font-extrabold tracking-tight text-white md:text-6xl"
          style="font-family: 'Playfair Display', serif;"
        >
          <span class="block lg:inline">Osmar Júnior</span>
          <span class="block lg:inline"> Advogado</span>
        </h1>
        <span
          class="max-w-md mx-auto mt-3 text-lg font-medium text-gray-100 md:mt-5 md:text-xl md:max-w-3xl lg:text-base lg:mx-0"
        >
          OAB/PR 103.959
        </span>
        <p
          class="max-w-md mx-auto mt-3 text-lg text-gray-100 md:mt-5 md:text-xl md:max-w-3xl lg:text-base lg:w-2/3 lg:mx-0"
        >
          Formado na UNICESUMAR em 2019, pós-graduado em Docência no Ensino
          Superior pela FCV e pós-graduado em Prática Penal Avançada pela
          Damásio.
        </p>
        <div
          class="flex flex-col justify-center max-w-md mx-auto mt-5 md:mt-8 lg:mx-0"
        >
          <div>
            <a
              href="https://wa.me/5544991245630?text=ol%C3%A1,%20vim%20pelo%20seu%20site%20e%20gostaria%20de%20ser%20atendido"
              target="_blank"
              class="flex items-center justify-center gap-2 p-1 pl-4 m-auto text-base font-medium text-gray-500 duration-300 bg-white border border-transparent rounded-full shadow group hover:bg-primary-500 md:w-full"
            >
              Contate-me agora!
              <Icon
                name="whatsapp-rounded"
                class="w-8 h-8 duration-300 text-gray-50 group-hover:text-primary-600"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <img
          src="/images/osmar.png"
          class="my-10"
          width="344"
          height="326"
          alt="Osmar Júnior"
        />
      </div>
    </section>
  </div>
</div>
