---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap"
      rel="preload"
      as="style"
      onload="this.rel='stylesheet'; document.documentElement.classList.add('font-switzer')"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
      rel="preload"
      as="style"
      onload="this.rel='stylesheet'; document.documentElement.classList.add('font-switzer')"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <slot />
  </body>
</html>
